<div class="container" style="text-align: center">
	<h1>Friend As A Service</h1>
	<p>Let's become friends for $5/month</p>
	<img src="https://i.imgur.com/o93GdGH.jpg" width="440" height="400">

	<%= form_tag charges_path do %>
	  <article>
	    <% if flash[:error].present? %>
	      <div id="error_explanation">
	        <p><%= flash[:error] %></p>
	      </div>
	    <% end %>
	    <label class="amount">
	      <span>Amount: $5.00</span>
	    </label>
	    <input id="terms" type="checkbox" name="terms"> i agree to the <a href="/manage/terms">terms of service</a><br><br>
	  </article>
	  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
	  		  Stripe.setPublishableKey('pk_test_2e2ZhYNuZFLu1ou1fxkUoEBl');
	          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
	          data-description="Friend As A Service"
	          data-amount="500"
	          data-billing-address="true"
	          data-shipping-address="true"
	          data-locale="auto"></script>
	<% end %>

</div>